
body {
  background-color: #A7BDD3;
}

#header > table , th, td{
  vertical-align: middle;
  padding-left: 15px;
}

#header > div.logo {
  float: left;
}

#header > div.text {
    font-size: 2em;
    font-weight: bold;
}

div.login > button {
  margin: 10px;
}

div#navigation {
  clear: both;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

#navigation ul {
  list-style: none;
  margin:0;
}

#navigation li {
  background: #ccc;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  float: left;
  margin: 0;
  padding: 8px 0px;
  border-radius: 10px 10px 0px 0px;
}

#navigation a {
  color: #666;
  font-weight: bold;
  padding: 8px 20px;
  text-decoration: none;
}

#navigation a:hover {
  color: #333;
}

#navigation #currentpage > a {
  background: #fefefe;
  border-bottom: 2px solid #fefefe;
  color: #333;
  border-radius: 8px 10px 0px 0px;
}

div.content {
  clear: both;
  background-color: #fefefe;
  border: 1px solid #999;
  padding: 2.5%;
}


fieldset{
 margin: 1.5%;
 display: inline; 
 background-color: #D9853B
}

fieldset > label  {
  display:block
  margin-top: 0px;  
}
form > input{
  display:inline-block;
}

form > legend{
    display: inline;   
}




#footer {
  clear: both;
	text-align: center;
}

.error{
        color: red;
}
/*******************************Calendar Top Navigation*********************************/
div#calendar{
  margin:0px auto;
  padding:0px;
  width: 602px;
  font-family:Helvetica, "Times New Roman", Times, serif;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #787878 ;      
}
 
div#calendar div.header{
    line-height:40px;  
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:582px;
    height:40px;   
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}
 
 
div#calendar div.header a.prev{
    left:0px;
}
 
div#calendar div.header a.next{
    right:0px;
}
 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    background-color: #DDD;
    color:#000;
    text-align:center; 
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}     