.Footer{
        list-style-type: none;
        position: fixed;
        
        background-color: red;
        width: 110%;
        margin-left: 50px;
        height: 120px;
        text-indent: -20px;
        z-index:-1
}

#logo {
  float: left;
  height: 30px; /* Better to just make the image the correct width/height */
  width: 30px;
}

#login{
        float: right;
     
}

a{
        color: blue;
        background-color: black;
        text-decoration: none;
}

h1{
        background-color: green;
        margin-left: 100px;
        font-size:300%;

}
p{
        background-color: #15530B;
        color: blue;
}

li{
        padding-bottom: 50px;
}
ul{
        background-color: black;
        color: yellow;
        list-style-type: square;

}
body{
        font-family:verdana;     
        background-color: #15530B;

}

body > h1 {
        font-size: 100%
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}

nav {
        text-align: center;
}

nav > ul > li {
        display: inline;
        padding: 10px;
        border: 2px; 
        solid: black;
}

aside {
        float: right;
        background-color: #15530B;
        height: 230px;
        width: 230px;
}

#logo {
        float: left;
        height: 50px;
}

article > h1{
        font-size:100%;
}
section {
        background-color: white;
}


.header{
        background-color: #15530B;
}

nav > ul > li:hover {
        background-color: #597380;
}

.error{
        color: red;
}